@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1.2s ease-out;
  }

  .animate-fade-in-up {
    animation: fadeInUp 1.5s ease-out;
  }

  .animate-bounce-slow {
    animation: bounceSlow 3s ease-in-out infinite;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(40px) scale(0.98);
    }

    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes bounceSlow {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }
}